@use "../variables";
@use "../utils";

.footer {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100dvw;
    height: utils.rem(32);
    bottom: 0px;
    @include variables.text_font;
    @include utils.fluid-text(16, 14);
    color: variables.$background_color;
    background-color: variables.$main_color;
}