@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-color: #f3f3f3;
    --main-color: #262526;
}

[data-theme="dark"] {
    --bg-color: #141414;
    --main-color: #e2dcdc;
}

$main_color: var(--main-color);
$background_color: var(--bg-color);
$accent_color: #ff8000;

@mixin title_font {
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    font-style: normal;
}

@mixin header_font {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

@mixin text_font {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin second_text_font {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}